
.label-default{
  color: lightgray;
}
.label-warning{
  color: orange;
}
.label-success{
  color: green;
}


.sharee-summary-table{
  margin: 20px 0;
  font-size: 12px;
  border-collapse: collapse;
  th, td{
    padding: 0.5em;
    border: 1px solid #ddd;
  }
  .number{
    text-align: right;
  }
  td{
  }
  caption{
    text-align: left;
  }
}

th,td{
  &.column-deducting,
  &.column-total{
    text-align: right;
  }
}
