/**
 * Admin style
 *
 * @handle sharee-admin-style
 */
.label-default {
  color: #d3d3d3;
}

.label-warning {
  color: #ffa500;
}

.label-success {
  color: #008000;
}


.sharee-summary-table{
  margin: 20px 0;
  font-size: 12px;
  border-collapse: collapse;

  th, td{
    padding: 0.5em;
    border: 1px solid #ddd;
  }

  .number{
    text-align: right;
  }

  caption{
    text-align: left;
  }
}

th,td{

  &.column-deducting,
  &.column-vat,
  &.column-tax,
  &.column-total {
    text-align: right;
  }
}
